@include critical(true) {
	main {
		display: grid;
		grid-column-gap: 7%;
		grid-template-columns: max-content auto max-content;
		margin-left: 14px;
		margin-right: 14px;
	}
	
	.post-navigation-arrow {
		box-sizing: content-box;
		display: block;
		margin-top: 30vh;
		padding: 7px;
		width: 25px;
		
		:not(a) > & {
			fill: gray;
		}
		
		a > & {
			&:hover {
				background-color: #c6c6c6;
				border: 0 solid black;
				border-radius: 50%;
				transition-duration: .7s;
				transition-property: background-color;
			}
			
			&:active {
				//background-color: #c9c9c9;
			}
		}
	}
	
	#column-scans {
		//
	}
	
	.scan {
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 100%;
		
		& + & {
			margin-top: 50px;
		}
	}
}
