@include critical(true) {
	@font-face {
		font-family: "tangerine";
		font-style: normal;
		font-weight: normal;
		src: url($baseurl + "/assets/fonts/tangerine/regular.woff2") format("woff2"), url($baseurl + "/assets/fonts/tangerine/regular.woff") format("woff"), url($baseurl + "/assets/fonts/tangerine/regular.ttf") format("truetype");
	}
	
	@font-face {
		font-family: "tangerine";
		font-style: normal;
		font-weight: bold;
		src: url($baseurl + "/assets/fonts/tangerine/bold.woff2") format("woff2"), url($baseurl + "/assets/fonts/tangerine/bold.woff") format("woff"), url($baseurl + "/assets/fonts/tangerine/bold.ttf") format("truetype");
	}
}
